body{
background-color: #f8f8f8;


}

.jumbotron{
background: #b55f90; /* Old browsers */
background: -moz-linear-gradient(-45deg, #b55f90 0%, #c47577 45%, #341a4a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#b55f90), color-stop(45%,#c47577), color-stop(100%,#341a4a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, #b55f90 0%,#c47577 45%,#341a4a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, #b55f90 0%,#c47577 45%,#341a4a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, #b55f90 0%,#c47577 45%,#341a4a 100%); /* IE10+ */
background: linear-gradient(135deg, #b55f90 0%,#c47577 45%,#341a4a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b55f90', endColorstr='#341a4a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
color:#FFF;

}

.app{
	box-shadow: 0px 0px 2px #F2F2F2;
	background-color: #FFF;
	height: 200px;
	margin: 10px;
}